openapi: 3.0.3
info:
  title: PayMongo Checkout Sessions QR Ph API
  description: PayMongo is a Philippine payments platform. The REST API lets businesses accept payments via cards, GCash, Maya (PayMaya), GrabPay, ShopeePay, QR Ph, BillEase (buy-now-pay-later), and direct online banking, using the Payment Intent / Payment Method workflow, hosted Checkout Sessions, Payment Links, Customers, Refunds, and Webhooks. All amounts are integers in centavos (1 PHP = 100). PHP is the only settlement currency (card intents may optionally be switched to USD).
  version: '2020-08-08'
  termsOfService: https://www.paymongo.com/terms
  contact:
    name: PayMongo Developer Support
    email: support@paymongo.com
    url: https://docs.paymongo.com
servers:
- url: https://api.paymongo.com/v1
  description: Production (live and test mode selected by API key prefix)
security:
- basicAuth: []
tags:
- name: QR Ph
paths:
  /qr_codes/static:
    post:
      operationId: createStaticQrPh
      tags:
      - QR Ph
      summary: Create a static QR Ph code
      description: Creates a reusable static QR Ph code for in-store acceptance.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericCreate'
      responses:
        '200':
          description: Static QR Ph created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResource'
        '400':
          $ref: '#/components/responses/Error'
components:
  responses:
    Error:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  schemas:
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              detail:
                type: string
              source:
                type: object
                properties:
                  pointer:
                    type: string
                  attribute:
                    type: string
    GenericCreate:
      type: object
      properties:
        data:
          type: object
          properties:
            attributes:
              type: object
              additionalProperties: true
    GenericResource:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              type: object
              additionalProperties: true
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Provide your API key as the Basic-auth username (secret key sk_test_* / sk_live_* for server-side calls; for calls that accept the public key pk_test_* / pk_live_*, the public key goes in the username field). The password field is left blank unless a call requires both keys.
