openapi: 3.0.3
info:
  title: PayMongo Checkout Sessions Payment Methods API
  description: PayMongo is a Philippine payments platform. The REST API lets businesses accept payments via cards, GCash, Maya (PayMaya), GrabPay, ShopeePay, QR Ph, BillEase (buy-now-pay-later), and direct online banking, using the Payment Intent / Payment Method workflow, hosted Checkout Sessions, Payment Links, Customers, Refunds, and Webhooks. All amounts are integers in centavos (1 PHP = 100). PHP is the only settlement currency (card intents may optionally be switched to USD).
  version: '2020-08-08'
  termsOfService: https://www.paymongo.com/terms
  contact:
    name: PayMongo Developer Support
    email: support@paymongo.com
    url: https://docs.paymongo.com
servers:
- url: https://api.paymongo.com/v1
  description: Production (live and test mode selected by API key prefix)
security:
- basicAuth: []
tags:
- name: Payment Methods
paths:
  /payment_methods:
    post:
      operationId: createPaymentMethod
      tags:
      - Payment Methods
      summary: Create a Payment Method
      description: Creates a Payment Method describing how the customer pays (card, gcash, grab_pay, paymaya, billease, dob, qrph). May be created with the public or secret API key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentMethodCreate'
      responses:
        '200':
          description: Payment Method created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodResource'
        '400':
          $ref: '#/components/responses/Error'
  /payment_methods/{id}:
    get:
      operationId: retrievePaymentMethod
      tags:
      - Payment Methods
      summary: Retrieve a Payment Method
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Payment Method
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentMethodResource'
        '404':
          $ref: '#/components/responses/Error'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              detail:
                type: string
              source:
                type: object
                properties:
                  pointer:
                    type: string
                  attribute:
                    type: string
    PaymentMethodResource:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
              example: pm_xxx
            type:
              type: string
              example: payment_method
            attributes:
              type: object
              properties:
                type:
                  type: string
                billing:
                  type: object
    PaymentMethodCreate:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          properties:
            attributes:
              type: object
              required:
              - type
              properties:
                type:
                  type: string
                  enum:
                  - card
                  - gcash
                  - grab_pay
                  - paymaya
                  - billease
                  - dob
                  - qrph
                details:
                  type: object
                  description: Card details (number, exp_month, exp_year, cvc) when type=card.
                  properties:
                    card_number:
                      type: string
                    exp_month:
                      type: integer
                    exp_year:
                      type: integer
                    cvc:
                      type: string
                billing:
                  type: object
                  properties:
                    name:
                      type: string
                    email:
                      type: string
                    phone:
                      type: string
                metadata:
                  type: object
                  additionalProperties: true
  responses:
    Error:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The identifier of the resource (e.g. pi_..., pm_..., pay_...).
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Provide your API key as the Basic-auth username (secret key sk_test_* / sk_live_* for server-side calls; for calls that accept the public key pk_test_* / pk_live_*, the public key goes in the username field). The password field is left blank unless a call requires both keys.
