openapi: 3.0.3
info:
  title: PayMongo Checkout Sessions Refunds API
  description: PayMongo is a Philippine payments platform. The REST API lets businesses accept payments via cards, GCash, Maya (PayMaya), GrabPay, ShopeePay, QR Ph, BillEase (buy-now-pay-later), and direct online banking, using the Payment Intent / Payment Method workflow, hosted Checkout Sessions, Payment Links, Customers, Refunds, and Webhooks. All amounts are integers in centavos (1 PHP = 100). PHP is the only settlement currency (card intents may optionally be switched to USD).
  version: '2020-08-08'
  termsOfService: https://www.paymongo.com/terms
  contact:
    name: PayMongo Developer Support
    email: support@paymongo.com
    url: https://docs.paymongo.com
servers:
- url: https://api.paymongo.com/v1
  description: Production (live and test mode selected by API key prefix)
security:
- basicAuth: []
tags:
- name: Refunds
paths:
  /refunds:
    post:
      operationId: createRefund
      tags:
      - Refunds
      summary: Create a Refund
      description: Refunds all or part of a Payment. Amount is an integer in centavos; reason is one of duplicate, fraudulent, requested_by_customer, others.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefundCreate'
      responses:
        '200':
          description: Refund created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResource'
        '400':
          $ref: '#/components/responses/Error'
    get:
      operationId: listRefunds
      tags:
      - Refunds
      summary: List Refunds
      responses:
        '200':
          description: A list of Refunds
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericList'
  /refunds/{id}:
    get:
      operationId: retrieveRefund
      tags:
      - Refunds
      summary: Retrieve a Refund
      parameters:
      - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Refund
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenericResource'
        '404':
          $ref: '#/components/responses/Error'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        errors:
          type: array
          items:
            type: object
            properties:
              code:
                type: string
              detail:
                type: string
              source:
                type: object
                properties:
                  pointer:
                    type: string
                  attribute:
                    type: string
    GenericList:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/GenericResource'
        has_more:
          type: boolean
    RefundCreate:
      type: object
      required:
      - data
      properties:
        data:
          type: object
          properties:
            attributes:
              type: object
              required:
              - amount
              - payment_id
              - reason
              properties:
                amount:
                  type: integer
                  description: Amount in centavos to refund.
                payment_id:
                  type: string
                  example: pay_xxx
                reason:
                  type: string
                  enum:
                  - duplicate
                  - fraudulent
                  - requested_by_customer
                  - others
                notes:
                  type: string
    GenericResource:
      type: object
      properties:
        data:
          type: object
          properties:
            id:
              type: string
            type:
              type: string
            attributes:
              type: object
              additionalProperties: true
  responses:
    Error:
      description: Error response
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: The identifier of the resource (e.g. pi_..., pm_..., pay_...).
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic authentication. Provide your API key as the Basic-auth username (secret key sk_test_* / sk_live_* for server-side calls; for calls that accept the public key pk_test_* / pk_live_*, the public key goes in the username field). The password field is left blank unless a call requires both keys.
